<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfjDw79yoR1ycKf-UHzJ43-BMpWBJaVej829pvTzVE-otuzXg/viewform?embedded=true" width="100%" frameborder="0" height="1250px" marginheight="0" marginwidth="0" scrolling="auto" frameborder="0" onload="resizeIframe(this)">Loading...</iframe>
<script>
  function resizeIframe(obj) {
    console.log('Howdy mate', obj.contentWindow.document.body.scrollHeight);
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>