@import url('normalize.min.css');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,600italic);

/* ----------------------------------------------------------
    NCHPAD CSS
    Version 1.0

    TABLE OF CONTENTS

    01 - BASE STYLES
    02 - BACKGROUND & TEXT COLORS
    03 - BUTTONS
    04 - SECTION & MEDIA BLOCKS
    05 - LAYOUT
    06 - CUSTOM CONTENT DRAWER STYLES
    07 - HEADER STYLES
    08 - NAVIGATION STYLES
    09 - ROTATOR STYLES
    10 - HOME CONTENT STYLES
    11 - SUB CONTENT STYLES
    12 - SIDEBAR STYLES
    13 - FOOTER STYLES

    COLOR GUIDE (Main Site Colors and their Hex Codes)
    Main Blue: #007ad5
    Secondary Blue: #0262aa
    Dark Blue: #004477
    Red: #e2383f
    Light Gray: #e8e8e8
    Text Gray: #5f5f5f
    
    FONTS USED
    Main Copy: Arial
    Main Headers: Source Sans Pro
    Secondary Headers: Source Sans Pro
    
---------------------------------------------------------- */


/* 01 = BASE STYLES
---------------------------------------------------------- */

body {
    background: url(../img/bkgd-main.jpg) #fff;
    /*color: #5f5f5f;*/
    color: #222222;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

* {
    margin: 0;
    outline: none;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-weight: 600;
}

.gigantic{font-size: 40px;}

h1, .huge {
    font-size: 34px;
}

h2, .large {
    font-size: 30px;
}

h3, .big {
    font-size: 24px;
}

h4, .normal {
    font-size: 18px;
}

h5, .small {
    color: #5f5f5f;
    font-size: 16px;
    padding: 0 0 5px;
}

h6, .tiny {
    font-size: 14px;
    padding: 0 0 5px;
}

p {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 15px;
}

a {
    color: #007ad5;
    text-decoration: none;
}

ul,
ol {
    padding-left: 15px;
    font-size: 13px;
}

li {font-size: 13px;
    line-height: 20px;
    padding-bottom: 15px;}

.right,
.align-right {float: right;}

.left,
.align-left {float: left;}

.print,
.hide {display: none;}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.clear {clear: both;}


/* 02 = BACKGROUND & TEXT COLORS
---------------------------------------------------------- */

.bkgd-white {background-color: #fff;}

.bkgd-blue {background-color: #007ad5;}

.bkgd-med-blue {background-color: #0262aa;}

.bkgd-dark-blue {background-color: #004477;}

.bkgd-red {background-color: #e2383f;}

.bkgd-light-gray {background-color: #e8e8e8;}


.t-blue {color: #007ad5;}

.t-dark-blue {color: #004477;}

.t-red {color: #e2383f;}

.t-white {color: #fff;}


/* 03 = BUTTONS
---------------------------------------------------------- */
/* REMOVE THESE INSTRUCTIONS -- This section should include
styles for various buttons throughout the site.  Set size
and color as separate styles.

(e.g. .btn-small, .btn-large, .btn-green, .btn-blue) */


/* 04 = SECTION & MEDIA BLOCKS
---------------------------------------------------------- */

/* General Section Block Styling */

.section-block-heading {
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
}

.section-block-heading.bkgd-red {
    color: #fff;
    padding: 0 0 0 10px;
}

.section-title {
    float: left;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

.section-title.arrow {
    background: url(../images6/bkgd-section-title.png) right 0 #e2383f no-repeat;
    color: #fff;
    min-width: 200px;
}


.section-block-heading a.arrowlink {
    color: #5f5f5f;
    float: right;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

/* General Media Block Styling (Image w/ Text) */

.media-block {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.media-block img {
    float: left;
    padding: 0 15px 15px 0;
}

.media-block.top img {float: none;}

.media-block .date {
    color: #9b9b9b;
    display: block;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 5px;
}


/* 05 = LAYOUT
---------------------------------------------------------- */

.global-width {
    margin: 0 auto;
    width: 1170px;
}

.wrap {
    background-color: #fff;
    -moz-box-shadow:    0 0 5px 3px #e3e3e3;
    -webkit-box-shadow: 0 0 5px 3px #e3e3e3;
    box-shadow:         0 0 5px 3px #e3e3e3;
}

.rotator {position: relative;}

.main-content {padding: 20px;}

.content {
    float: left;
    width: 690px;
}

.sidebar {
    float: right;
    width: 340px;
}

.shadow-top {
    background: url(../images6/shadow-top.png) repeat-x;
    height: 4px;
    left: 0;
    top: 0;
    width: 100%;
}

.shadow-bottom {
    background: url(../images6/shadow-bottom.png) repeat-x;
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}


/* 06 = CUSTOM CONTENT DRAWER STYLES
---------------------------------------------------------- */

.custom-content-drawer {
    border-bottom: 1px solid #007ad5;
    color: #fff;
    display: none;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    position: relative;
}

.custom-content-drawer .buttons a {
    background-color: #004477;
    border: none;
    border-left: 1px solid #007ad5;
    border-top: 1px solid #007ad5;
    color: #fff;
    float: right;
    font-size: 14px;
    padding: 5px 10px;
}

a.close {
    background: url(../images6/icon-accordion-sprite.png) 0 0 no-repeat;
    display: block;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 18px;
    width: 20px;
}

.buttons {
    clear: both;
    padding-top: 30px;
}

.buttons a.next {
    background: url(../images6/icon-accordion-sprite.png) 40px -165px no-repeat #004477;
    font-weight: 700;
    padding-right: 25px;
}

.buttons a.back {
    background: url(../images6/icon-accordion-sprite.png) 4px -110px no-repeat #004477;
    font-weight: 700;
    padding-left: 25px;
}

.buttons a:hover {
    background-color: #0262aa;
}

.custom-content-drawer input[type="radio"] {
    margin: 5px 10px 5px 20px;
}

.tabs {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.tabs li {
    float: left;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

.tabs li a {
    border-right: 1px solid #004477;
    color: #fff;
    display: block;
    padding: 17px 20px;
}

.tabs li.ui-tabs-active a {background-color: #004477;}


/* 07 = HEADER STYLES
---------------------------------------------------------- */

/* My NCHPAD Filter Slideout */

.custom-content-header {
    color: #fff;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 600;
    overflow: auto;
}

.custom-content {
 /*   background: url(../images6/icon-sprite.png) no-repeat 14px 14px #007ad5; */
    display: block;
    padding: 13px 25px;
    text-indent: 18px;
}

.search {
    background: url(../images6/icon-sprite.png) no-repeat 5px -33px #007ad5;
    border: none;
    color: #fff;
    font-weight: 600;
    font-style: italic;
    min-width: 170px;
    padding: 13px 5px 13px 35px;
}

/* Main Header Styles */

.logo {
    display: block;
    float: left;
    height: 100px;
    padding: 0 23px;
    width: 334px;
    margin-top: 20px;
}


/* 08 = NAVIGATION STYLES
---------------------------------------------------------- */

ul.nav {
    float: right;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin: 45px 17px 0;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    color: #5f5f5f;
    display: block;
    padding: 0 18px;
}

ul.nav li a:hover {color: #a3a3a3;}
ul.nav li a.active {color: #007ad5;}


/* for top nav bar */
#mainNav .navbar-collapse {
 overflow: auto;
 max-height: 75vh; }
 #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
   cursor: pointer; }
 #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
   position: relative;
   min-width: 45px; }
   #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
     float: right;
     width: auto;
     content: '\f105';
     border: none;
     font-family: 'FontAwesome'; }
   #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
     position: absolute;
     top: 5px;
     left: 21px;
     font-size: 10px; }
 #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
   content: '\f107'; }
 #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
   overflow: hidden;
   max-width: none;
   text-overflow: ellipsis; }

@media (min-width: 992px) {
 #mainNav .navbar-brand {
   width: 250px; }
 #mainNav .navbar-collapse {
   overflow: visible;
   max-height: none; }
   #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
     min-width: 0; }
     #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
       width: 24px;
       text-align: center; }
   #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
     max-width: 300px; } 
}

/* 09 = FLASH MESSAGE STYLES;
---------------------------------------------------------- */

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


/* 10 = HOME CONTENT STYLES
---------------------------------------------------------- */

/* Recent Updates and Recent Blog Posts Overall Blocks */

.home-content .section-block,
.sub-content .section-block {
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin: 0 0 30px;
}

.home-content .section-title {padding: 0 15px;}

.home-content .section-block-content {margin: 30px 0 30px 20px;}

.home-content .media-block {padding: 0 20px 20px 0;}


/* Recent Updates - Additional Updates Slider */

.update-slider .bx-wrapper {
    border-top: 1px solid #e8e8e8;
    padding: 20px 30px 40px;
    max-width: 610px !important;
}

.update-slider .media-block {
    padding: 0;
    width: 140px;
}
.update-slider .bx-viewport {
    height: 200px !important; //provide height of slider
}

/* Recent Blog Posts */

.recent-blog-posts .media-block {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 -1px;
    padding: 15px 10px 15px 16px;
    width: 308px;
    height: 70px;
}

.recent-blog-posts .media-block:nth-child(even) {
    border-left: 1px solid #e8e8e8;
}

.recent-blog-posts .media-block img {padding: 0 15px 0 0;}


/* 11 = SUB CONTENT STYLES
---------------------------------------------------------- */

.page-header {
    margin-bottom: 20px;
    position: relative;
}

.main-heading {
    color: #0061aa;
    font-weight: 700;
    padding: 30px;
}

.sub-content .section-block-content {margin: 30px 20px 30px 20px;}

.sub-content .section-block-content ul {margin-bottom: 10px;}

.sub-content .section-block-content h4 {padding-bottom: 10px;}
.author {
    color: #fff;
    float: right;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 15px;
}

/* CSS */
.gridWrapper {
      overflow: hidden;
      margin: 10px;
}
.tile {
float: left;
      position: relative;
      width: 25%;
      padding-bottom: 20%;
    }
.tileInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
.tileInner img {
      width: 100%;
    }

.tileInner p {text-align:center;}



/* 12 = SIDEBAR STYLES
---------------------------------------------------------- */

.sidebar ul {
    border-top: 1px solid #e8e8e8;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
}

.sidebar ul li a {
    color: #5f5f5f;
    display: block;
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 2px;
}


/* Home Magnets */

.magnets {margin-bottom: 10px;}

.magnets img {padding-bottom: 5px;}


/* Home Recent Videos */

.recent-videos .section-block-content {
    padding: 10px 0;
}


/* Home Upcoming Events */

.upcoming-events ul li a {color: #007ad5;}

.upcoming-events .date {color: #9b9b9b;}


/* Subpage Navigation */

.sidebar .section-title {font-weight: 700;}


/* 13 = FOOTER STYLES
---------------------------------------------------------- */

.footer {
    font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    padding: 40px;
    margin-bottom: 30px;
}

.footer .col {
    border-right: 1px solid #007ad5;
    margin: 20px 20px 0 20px;
    width: 204px;
}

.footer .col-04 {border-right: none;}

.footer ul {
    float: left;
    line-height: 30px;
    list-style: none;
    padding: 0 0 50px 10px;
}

.footer li a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.footer-main {
    border-top: 1px solid #007ad5;
    color: #fff;
}

ul.social-media {
    margin-top: 10px;
    padding: 0;
}

ul.social-media li {
    float: left;
    margin-right: 7px;
}

ul.social-media li a {
    background: url(../img/icon-social-media-sprite.png) no-repeat;
    display: block;
    height: 32px;
    text-indent: -9999px;
    width: 33px;
}

ul.social-media li a.facebook {background-position: 0 0;}
ul.social-media li a.twitter {background-position: -42px 0;}
ul.social-media li a.youtube {background-position: -83px 0;}

.footer-main p {margin-top: 10px;}

/* CUSTOM */
.section-block-heading a {
    color: #ffffff;
}
.sidebar ul li a.active {color: #007ad5;}
.articleBody > table {margin: 5px;
    max-width: 100%;
    height: auto;
}
/*.articleBody > table img {margin: 5px;
    max-width: 100%;
    height: auto;
}*/
.articleBody > p > img {margin: 5px;
    max-width: 100%;
    height: auto;
}
.articleBody > img {margin: 5px;
    max-width: 100%;
    height: auto;
}


.articleBody {
line-height: 20px;
padding-bottom: 15px;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grayLineBottom {
    border-bottom: 1px solid #E8E8E8;
}
.grayLineTop {
    border-top: 1px solid #E8E8E8;
}
.ratings_box {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
}
.sortdiv {
    text-align: right;
    padding-right: 5px;
    float: right;
}
.prevnext {
    padding-bottom: 5px;
    padding-top: 5px;
}
.prev {
    float:left;
    width: 50%;
    text-align: left;
}
.next {
    float:right;
    width: 50%;
    text-align: right;
}
.ratings_box {
    background-color: #e8e8e8;
}
.crxinner1 {
    width: 33%; 
    float: left;
}
.crxinner2 {
    text-align:center;
    background-color: #e8e8e8;
    border: 2px solid #5f5f5f;
    padding-top: 3px;
    padding-bottom: 3px;
 }
.crxinner3 {
    padding: 5px;
 }
 .grayLeftBorder {
     border-left: 1px solid #e8e8e8;
 }
  .grayBorder {
     border: 1px solid #e8e8e8;
 }
 .labelIntend {
     padding-left: 15px;
    text-indent: -15px;
 }
 #socialBar {
background-color: #E8E8E8;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}
.search-form {
    /*display: none;*/
}
#sortselect, #sortselect option {
    color: black;
}

table.details {
    font-size: 13px;
line-height: 20px;
padding-bottom: 15px;
}
.detailsembed legend {
    padding: 10px;
    font-size: 13px;
line-height: 20px;
font-weight: bolder;
}
td#left {
    font-weight: bolder;
    padding-right: 10px;
    text-align: right;
}

.staff_list ul {
font-size: 13px;
padding-left: 2em;
padding-top: 0.50em;
list-style-image: url(/images/favicon.ico);
margin-left: 5px;
}

/* for test resizing */

#textsizer-classnames
{
   margin-top: -20px;
   margin-right: -20px;
   float: right;
}
   #textsizer-classnames p
   {
      display: inline;
   }
ul.textresizer
{
   list-style: none;
   display: inline;
   margin: 0px;
   padding: 0px;
}
   ul.textresizer li
   {
      display: inline;
      margin: 0px;
      margin-right: 5px;
      padding: 0px;
   }
 
   ul.textresizer a
   {
      border: solid 1px #999;
      padding: 2px 3px;
      font-weight: bold;
      text-decoration: none;
   }
     
   ul.textresizer a:hover
   {
      background: #e5e5e5;
      border: solid 1px #cccccc;
         
   }
 
   ul.textresizer .small-text
   {
      font-size: 12px;
   }
    
   ul.textresizer .medium-text
   {
      font-size: 14px;
   }
    
   ul.textresizer .large-text
   {
      font-size: 16px;
   }
    
   ul.textresizer .larger-text
   {
      font-size: 18px;
   }
 
   ul.textresizer a.textresizer-active
   {
      border: solid 1px #2B562B;
      background: #e2383f;
      color: #fff;            
   }
 

   #fortextsizer.small-text
   {
      font-size: 11px;
   }
    
   #fortextsizer.medium-text
   {
      font-size: 13px;
   }
    
   #fortextsizer.large-text
   {
      font-size: 15px;
   }
    
   #fortextsizer.larger-text
   {
      font-size: 17px;
   }
   
   #fortextsizer.small-text p
   {
      font-size: 11px;
   }
    
   #fortextsizer.medium-text p
   {
      font-size: 13px;
   }
    
   #fortextsizer.large-text p
   {
      font-size: 15px;
   }
    
   #fortextsizer.larger-text p
   {
      font-size: 17px;
   }
   
   /* Following is for dynamically generated forms */
   
   
   #dynamic_form {
       font-size: 13px;
        line-height: 20px;
        padding-bottom: 15px;
   }
   .dynamic_form_item {
       padding-bottom: 20px;
   }
   .indent1 {
       margin-left: 50px;
   }
   .indent2 {
       margin-left: 100px;
   }
   .indent3 {
       margin-left: 150px;
   }
   .slide-out-div {
          width: 406px;
          background: #ccc;
          border: 3px solid #b52d32;
          z-index: 999;
          /* to be generated by js */
          line-height: 1; 
          position: fixed; 
          height: 274px; 
          top: 200px; 
          left: -410px;
      } 