<?php
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<div class="alert alert-danger alert-dismissable" onclick="this.classList.add('hidden');" style="text-align:center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <span class="help-block"><?= $message ?></span>
</div>
